# Building a virtual assistant
---------------

- In this chapter, you're going to build a personal assistant to help **plan a trip**.
- It will be able to respond to questions like "are there any cheap hotels in the north of town?" by looking inside a `hotels database` for matching results

## 1. Access data from any DB with parameters(Here iam using Sqlite)
1.	Can you name some common chatbot use cases:
    - Scheduling a meeting
    - Booking a flight
    - Searching for a restaurant
2.	Chatbots require information so need to interact with **DataBases** or **APIs**

## 2. Exercise 1: SQL statements in Python

In [2]:
import os
os.chdir("C:\\Users\\ramreddymyla\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")

In [1]:
# Step 1 of 7: Import required packages
from sqlalchemy import create_engine ; 
import pandas as pd ;

# Step 2 of 7: Create engine: engine
engine = create_engine('sqlite:///data/hotels.db') 

# Step 3 of 7: Open engine connection
con = engine.connect()

# Step 4 of 7: Perform query: result
result = con.execute("SELECT * FROM hotels") 

# Step 5 of 7: Save results of the query to DataFrame: df
df = pd.DataFrame(result.fetchall(),columns = result.keys())

# Step 6 of 7: Close connection
con.close() 

# Step 7 of 7: Print head of DataFrame df 
print(df)

               name price    area  stars
0    Hotel for Dogs   mid    east      3
1  Hotel California   mid   north      3
2       Grand Hotel    hi   south      5
3      Cozy Cottage    lo   south      2
4         Ben's BnB    hi   north      4
5         The Grand    hi    west      5
6     Central Rooms   mid  center      3

> **or**

In [2]:
# Step 1 of 5: Import module sqlite3
import sqlite3
# Step 2 of 5: Open connection to DB
conn = sqlite3.connect('data/hotels.db')
# Step 3 of 5: Create a cursor
con = conn.cursor()
# Step 4 of 5: Execute the query
con.execute("SELECT * FROM hotels WHERE area='south' and price='hi'")
# Step 5 of 5: Print the results
con.fetchall()

[('Grand Hotel', 'hi', 'south', 5)]

## 3. Exercise 2: SQL statements in Python parameter passing

In [5]:
# Step 1 of 6: Import module sqlite3
import sqlite3
# Step 2 of 6: Open connection to DB
conn = sqlite3.connect('hotels.db')
# Step 3 of 6: Create a cursor
c = conn.cursor()
# Step 4 of 6: Define area and price parameters
par_area, par_price = "south", "hi"
t = (par_area, par_price)
# Step 5 of 6: Execute the query
c.execute('SELECT * FROM hotels WHERE area=? AND price=?', t)
# Step 6 of 6: Print the results
print(c.fetchall())

[('Grand Hotel', 'hi', 'south', 5)]